        <div class="pure-u-1 pure-u-md-1-3">
            <div class="info-table info-table-delivered">
                <div class="info-table-header">
                    <span class="info-table-story-id">
                        <span>#<%= story.id%></span>
                    </span>                
                    <h2><%= story.name%></h2>
					<span class="info-table-status">
						<span>In Approving</span>
                    </span>
                </div>
            </div>
            <div class="info-table info-table-worked-on">
            	<div class="info-table-header">
            	<h2>Worked on by</h2>
				<span class="info-table-people">
						<span><%= story.workers.join(" | ");%></span>
                    </span>
                </div>
            </div>
            <div class="info-table info-table-review-by">
            	<div class="info-table-header">
            	<h2>Sign Off By</h2>
				<span class="info-table-people">
						<span><%= story.signOffBy%></span>
                    </span>				
                </div>
                <a href="https://www.pivotaltracker.com/story/show/<%= story.id%>" class="button-info pure-button" target="_blank">View Story</a>
            </div>            
        </div>