<div class="story">
    <div class="panel panel-<%= status %>">
        <div class="panel-heading">
            <h3 class="panel-title">
                <%= story.name %>
            </h3>
        </div>

        <div class="panel-body">
            <% if (story.workers.length === 0) { %>
                <h4 class="text-danger">
                    <% if (story.workers.length === 0) { %>
                        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                    <% } %>
                    Nobody is working on this

                    <br>
                    <small>Sad times.</small>
                </h4>
            <% } %>

            <% if (story.workers.length > 0) { %>
                <div>
                    <h4>Assignee<%= story.workers.length != 1 ? "s" : "" %></h4>
                    <p><%= story.workers.join(" | "); %></p>
                </div>
            <% } %>

            <div class="row">
                <div class="col-md-6">
                    <a href="#<%= story.id %>-info" data-toggle="collapse" aria-expanded="false" aria-controls="<%= story.id %>-info">
                        More info
                    </a>
                </div>

                <div class="col-md-6 text-right">
                    <a href="https://www.pivotaltracker.com/story/show/<%= story.id %>" target="_blank">
                        View Story
                    </a>
                </div>
            </div>

            <div id="<%= story.id %>-info" class="collapse">
                <table class="table table-bordered">
                    <tr>
                        <th>Status</th>
                        <td><%= message %></td>
                    </tr>
                    <tr>
                        <th>Requester</th>
                        <td><%= story.signOffBy %></td>
                    </tr>
                </table>
            </div>
        </div>

        <% if (typeof overLimit !== 'undefined' && overLimit) { %>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-2 sticker">
                        <img src="/images/sad_panda.gif" alt="Sad Panda" class="img-circle">
                    </div>

                    <div class="col-sm-10 description">
                        I am a sad panda.<br/>
                        I will never find any slots for <%= status == 'finished' ? 'review' : 'acceptance' %>.
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
