        <div class="col-sm-6">
          <div class="panel panel-<%= status %>">
            <div class="panel-heading">
              <h3 class="panel-title"><%= story.name%></h3>
              <%= message %> for <%= story.daysInProgress %> Day<% if (story.daysInProgress != 1) { %>s<% } %>
              <% if (story.workers.length === 0) { %>
                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
              <% } %>
            </div>
            <div class="panel-body">
            <% if (story.workers.length === 0) { %>
              <p>
                <h4 class="text-danger">Nobody is working on this</h4>
                Sad Times.
              </p>
            <% } %>
            <% if (story.workers.length > 0) { %>                
            <p>
              <h4>Worked On By</h4>
                <%= story.workers.join(" | ");%>
                </p>
            <% } %>
                <p>            
              <h4>Sign Off By</h4>
                <%= story.signOffBy%>
                </p>
                <p>
                    <a href="https://www.pivotaltracker.com/story/show/<%= story.id%>" target="_blank" class="btn btn-primary btn-lg active" role="button">View Story</a>
                </p>
            </div>
          </div>
        </div>
